## Praca Domowa - Wykład nr 4

W pracy domowej do wykładu numer cztery, nadal tworzymy aplikację internetową. W związku z tym kod wrzucamy na platformę `Heroku` wraz z plikiem bazy, zaś do `CodingRooms` wrzucamy jedynie link do aplikacji.

#### UWAGA 
Do zadań wykorzystujemy bazę z repozytorium - northwind.db

### Zadanie 4.1

Na pierwszy ogień stwórz dwa endpointy `/categories` oraz `/customers`. Oba endpointy mają być obsługiwane przez metodę `GET`, zwracać kod `HTTP 200` oraz dane mają być posortowane po kolumnie `id`.

Endpoint `/categories` ma zwracać rekordy z tabeli `Categories` w następującym formacie:
```
{
    "categories": [
         {"id": 1, "name": "Beverages"},
         [...]
     ]
}
```
gdzie `id` to jest kolumna `CategoryID`, zaś `name` to `CategoryName`.

Endpoint `/customers` ma zwracać rekordy z tabeli `Customers` w następującym formacie:
```
{
    "customers": [
        {
            "id": "ALFKI",
            "name": "Alfreds Futterkiste",
            "full_address":  "Obere Str. 57 12209 Berlin Germany",
        },
        [...]
     ]
}
```
gdzie `id` to jest kolumna `CustomerID`, `name` to kolumna `CompanyName`, zaś `full_address` to są dane połączone z czterech kolumn w kolejności: `Address`,  `PostalCode`, `City` oraz `Country` oddzielone spacją.

### Zadanie 4.2

Stwórz kolejny endpoint `/products/[id]`. Endpoint ma być obsługiwany przez metodę `GET`. Ma przyjmować id oraz zwracać dane rekordu z tabeli `Products` pod podanym id. Endpoint standardowo ma zwracać kod `HTTP 200` lub `HTTP 404` gdy rekord o podanym id nie istnieje. Zwrócona odpowiedź ma być jsonem w następującym formacie:
```
{"id": 1, "name": "Chai"}
```
gdzie `id` to jest kolumna `ProductID`, zaś `name` to `ProductName`.

### Zadanie 4.3

Stwórz endpoint `/employees`, obsługiwany przez metodę `GET`, ma zwracać defaultowo kod `HTTP 200` oraz ma pobierać dane z tabeli `Employees`. Dane defaultowo mają być posortowane po kolumnie `id`. Ponad to endpoint ma obsługiwać query parametry: `limit`, `offset` oraz `order`. Parametry `limit` oraz `offset` będą intami, zaś `order` będzie stringiem z nazwą kolumny po której należy posortować dane rosnąco. Dopuszczalne wartości dla parametru `order` to `first_name`, `last_name`, `city`. Gdyby parametr `order` miał inną wartość, należ zwrócić kod `HTTP 400`. Dane z ednpointu mają być zwrócone w postaci jsona w następującym formacie:

```
{
    "employees": [
        {"id":1,"last_name":"Davolio","first_name":"Nancy","city":"Seattle"},
        [...]    
   ]
}
```

gdzie `id` to jest kolumna `EmployeeID`, `last_name` to `LastName`, `first_name` to `FirstName`, zaś `city` to `City`.

### Zadanie 4.4

Stwórz endpoint `/products_extended`, obsługiwany przez metodę `GET`, ma zwracać defaultowo kod `HTTP 200` oraz ma pobierać dane z tabeli `Products`. Dane mają być posortowane po kolumnie `id`oraz zwrócone w postaci jsona w nastepujący formacie:

```
{
    "products_extended": [
        {
            "id": 1,
            "name": "Chai",
            "category": "Beverages",
            "supplier": "Exotic Liquids",
        },
        [...]    
   ]
}
```

gdzie `id` to jest kolumna `ProductID`, `name` to `ProductName`, `category` to referencja do tabeli `Categories` i wartość z kolumny `CategoryName`, zaś `supplier` to referencja do tabeli `Suppliers` i wartość z kolumny `CompanyName`.

### Zadanie 4.5

Stwórz endpoint `/products/[id]/orders`, obsługiwany przez metodę `GET` oraz standardowo ma zwracać kod `HTTP 200`. Kod `HTTP 404` ma zostać zwrócony gdy produkt o podanym id nie istnieje. Endpoint ma za zadanie zwrócić `Orders`, w których znalazł się produkt o podanym id, posortowane po id zamówień w następującym formacie:
```
{
    "orders": [
        {
            "id": 10273,
            "customer": "QUICK-Stop",
            "quantity": 24,
            "total_price": 565.44,
        },
        [...]
   ]
}
```
gdzie 
- `id` to jest `OrderId` z tabeli `Orders`
- `customer` to referencja do tabeli `Customers` i wartość z kolumny `CompanyName`
- `quantity` to ilość zamowionego produktu o podanym id w danym zamówieniu (tabela `Order Details`)
- `total_price` to wartość zamówionego produktu w danym zamówieniu, wyliczone według wzoru: `(UnitPrice x Quantity) - (Discount x (UnitPrice x Quantity))` (tabela `Order Details`). Otrzymaną wartość zaokrąglamy do dwóch miejsc po przecinku.

### Zadanie 4.6

Endpointy w poprzednich zadaniach służyły do wydobywania danych z bazy, czyli `R` w akronimie `CRUD` (Create - Read - Update - Delete). Czas zakodzić pozostałe "literki". W tym zadaniu należy stworzyć trzy endpointy:

Endpoint `/categories`, który będzie obsługowany przez metodę `POST`, zwróci kod `HTTP 201`, będzie przyjmować takiego jsona:
```
{"name": "new test category"}
```
Enpoind ma za zadanie utworzyć rekord w tabeli `Categories`, gdzie wartość `name` ma być w kolumnie `CategoryName` oraz zwróci jsona z utworzonym rekordem:
```
{"id": 12323, "name": "test category"}
```

Endpoint `/categories/[id]`, który będzie obsługowany przez metodę `PUT`, zwróci kod `HTTP 200`, będzie przyjmować takiego jsona:
```
{"name": "new test category"}
```
Enpoind zmodyfikuje rekord w tabeli `Categories` o podanym id, oraz zwróci jsona ze zmodyfikowanym rekordem:
```
{"id": 12323, "name": "test category"}
```
W przypadku gdyby kategoria o podanym id nie istniała, endpoint ma zwrócić kod `HTTP 404`.

Endpoint `/categories/[id]`, który będzie obsługowany przez metodę `DELETE`, zwróci kod `HTTP 200`. Endpoint ma za zadanie usunąć rekord z tabeli `Categories` o podanym id i zwrócić nastepującego jsona:
```
{"deleted": 1}
```
W przypadku gdyby kategoria o podanym id nie istniała, endopoint ma zwrócić kod `HTTP 404`.