![Backdrop](https://github.com/daftcode/daftacademy-python_levelup-spring2021/blob/master/background.png?raw=true)

![Plan kursu](https://raw.githubusercontent.com/daftcode/daftacademy-python_levelup-spring2021/master/program.png)

# T jak Tabela


### Wojciech Łuszczyński
### Daft Academy Python level up 2021
### SQL, SQLite, FastApi + Databases
### 05.05.2021

# 1 Plan działania na dzisiejszy wykład

- Wstęp do baz danych
- Język SQL
- SQLite w FastAPi
- Widoki + SQL Queries

# 2 Bazy danych

## 2.1 Baza danych

- Zbiór danych zapisanych zgodnie z ustalonymi regułami (Wiki)
- Baza danych jest zorganizowanym zbiorem danych , który przechowywany jest zazwyczaj w formie elektronicznej. (Na potrzeby tego kursy, jedynie elektronicznie)

## 2.2 Systemy zarządzania bazą danych (DBMS)

- Oprogramowanie służące do tworzenia i zarządzania bazami danych
- Sposób trzymania danych jest zależny od konkretnego systemu

## 2.3 Język SQL (Structured Query Language)

- Język służący do interakcji z __relacyjnymi bazami danych__
- SQL jest językiem __deklaratywnym__, oznacza to że opisuje efekt a nie proces. np Efektem będzie wynik zapytania napisanego w języku SQL, ale nie samo procesowanie zapytania które już należy do implementacji konkretnego __DBMS__ i jak zostało napisane
- (prawie) wszystkie relacyjne __DBMS__ wykorzystują __SQL__ jako podstawowy język zapytań

Przykłady relacyjnych systemów zarządzania bazą danych
- PostgreSQL (open source)
- MySQL (open source)
- SQLite (open source)
- Oracle
- Microsoft SQL Server
- IBM DB2
- Microsoft Access

## 2.4 SQLite

SQLite jest najprostszą relacyjną bazą danych, nie ma wielu zaawansowanych funkcjonalności ale jest w pełni kompatybilna z językiem SQL

- Działa na każdym systemie operacyjnym, nie ma prawie żadnych zależności systemowych
- Nie wymaga uruchomianego serwera bazy danych
- Nie wymaga żadnej dodatkowej konfiguracji
- Najczęściej używana baza danych na świecie https://www.sqlite.org/mostdeployed.html
- Cała baza danych zapisana jest w jednym pliku o konkretnym formacie (cross-platform)
- Obsługuje transakcje

### 2.4.1 Diagram SQLowej baza danych, na przykładzie Northwind DB

![Diagram](https://github.com/daftcode/daftacademy-python_levelup-spring2021/raw/master/4_T_jak_Tabela/diagram.png?raw=true)

# 3 Struktura relacyjnej bazy danych

## 3.1 Tabela

- W bazie danych tabela jest obiektem zawierającym dane
- Tabela składa się z wierszy i kolumn
- Każda kolumna reprezentuje jakąś właściwość
- Każdy wiersz reprezentuje pojedynczy rekord

## 3.2 Kolumna

- reprezentuje właściwość rekordu (np. imię, nazwisko, identyfikator itp.)
- Ma określony typ, w SQLite to: 
    - NULL - Specjalny znacznik, który mówi o tym, że dana wartość nie jest ustawiona
    - INTEGER - Liczba całkowita
    - REAL - Liczba zmiennoprzecinkowa
    - TEXT - Tekst o nieograniczonej długości
    - BLOB - Obiekt binarny, może przechowywać dowolną wartość, teoretycznie nieograniczona wielkość
- https://www.sqlitetutorial.net/sqlite-data-types/

## 3.3 Constraint

- Dodatkowa cecha kolumny
- SQLite udostępnia następujące `Constraint`y
    - NOT NULL Constraint − Zapewnia brak wartości NULL w kolumnie.
    - DEFAULT Constraint − Pozwala na podanie wartości domyślnej.
    - UNIQUE Constraint − Zapewnia unikalność wpisu w kolumnie.
    - PRIMARY Key − Pozwala na unikalną identyfikacje wiersza w tabeli.
    - CHECK Constraint − Zapewnia spełnienie warunku przez wartość w komórce.

### 3.3.1 PK - Primary Key

- Klucz główny dla tabeli
- Unikalny
- Posiada index
- Maksymalnie jeden

### 3.3.2 FK - Foreign Key

- Klucz obcy
- Wartość z pola z rekordu z innej tabeli, do którego "linkujemy"
- Musi być jednoznaczne
- Bardzo często PK innej tabeli

## 3.4 Index

- Struktura pozwalająca na szybsze wyszukiwanie wierszy w tabeli
- W przeciwieństwie do wiersza tabeli z kluczem głównym odzwierciedla wartość kolumny (lub kolumn) na klucz główny wiersza
- Zakłada się go na wybranej kolumnie (lub kilku)
- w SQLite zaimplementowane na B-drzewach (Balanced Tree)
    - https://pl.wikipedia.org/wiki/B-drzewo
    - http://www.sqlitetutorial.net/sqlite-index/
- `index` oraz `constraint` to inne mechanizmy w relacyjnych bazach danych choć "pod maską" mogą wydawać się identyczne

## 3.4 Relacje pomiędzy tabelami

### 3.4.1 One-One (1-1)

- Występuje kiedy jeden tylko wiersza Tabeli A może być referencją w jednym wierszu Tabeli B
- Stworzenie takiej relacji wymaga sprawdzenia unikalności referencji

### 3.4.2 One-Many (1-M)

- Występuje kiedy każdy z wierszy Tabeli B może posiadać referencje do jednego z wierszy z Tabeli A
- Nie potrzeba sprawdzać już unikalności takiej referencji jak w przypadku 1-1

### 3.4.3 Many-Many (M-M)

- Czasami potrzeba stworzyć referencje w której wiele przedmiotów jest przypisanych do innych.
- Technicznie potrzeba stworzyć trzecią tabelę pośredniczącą w takim przypisaniu.
- Każdy wiersz takiej tabeli pomocniczej zawiera parę kluczy publicznych obu tabel A i B.
- Dodatkowo takie przypisanie umożliwia przechowywanie dodatkowych opcji w tabeli pomocniczej. Np datę przypisania, czy inne metadane. Jest to rozwiązanie 'Customowe' i zależy tylko od programisty

# 4 sqlite3 w Pythonie

## 4.1 Ustanowienie połączenie z bazą danych

```python
import sqlite3
conn = sqlite3.connect('/path/to/database.db')
conn.close()
```

### 4.1.1 Dokumentacja

1. Oficjalna odkumentacja modułu sqlite3 w Python3 https://docs.python.org/3/library/sqlite3.html

## 4.1 Northwind

Przykładowa baza danych stworzona przez Microsoft
- https://github.com/microsoft/sql-server-samples/tree/master/samples/databases/northwind-pubs

### 4.1.1 Pobieramy Northwind

- Bazę można pobrać pod naszego kursu w formacie SQLite: 
    - https://github.com/daftcode/daftacademy-python_levelup-spring2021/blob/a4dafd6e37c7902b8d28fd45f9dee9db941a9ebf/4_T_jak_Tabela/Northwind.zip
- Następnie trzeba ją jedynie wypakować

### 4.1.2 Jak "dobrać się do danych"

In [1]:
import sqlite3

with sqlite3.connect("northwind.db") as connection:
    connection.text_factory = lambda b: b.decode(errors="ignore")
    cursor = connection.cursor()
    products = cursor.execute("SELECT ProductName FROM Products").fetchall()
    print(len(products))
    print(products[4])

77
("Chef Anton's Gumbo Mix",)

- Bazę danych możemy otwierać tak jak pliki korzystając z bloku `with`
- Korzystając z `with` po zamknięciu programu mamy gwarancję zamknięcia bazy danych
- Tworzymy obiekt __Cursor__, który umożliwia nam wykonywanie poleceń na bazie
- Możemy na nim wykonywać operacje za pomocą metod 
    - __execute__ (jedna operacja)
    - __executemany__ (jeden rodzaj operacji z wieloma różnymi parametrami)
    - __executescript__ (ciąg operacji)

### 4.1.3 Dokumentacja

- https://docs.python.org/3/library/sqlite3.html#cursor-objects

### 4.1.4 Przydatne programy do edycji i przeglądania bazy SQLite

- http://sqlitebrowser.org/ <- bardzo przyjemny programik do obsługi bazy SQLite
- https://dbeaver.io/ <- Rozbudowany program do zarządzania wieloma bazami danych

## 4.2 Dostęp do bazy danych w aplikacji FastAPI

```python
import sqlite3
from fastapi import FastAPI

app = FastAPI()


@app.on_event("startup")
async def startup():
    app.db_connection = sqlite3.connect("northwind.db")
    app.db_connection.text_factory = lambda b: b.decode(errors="ignore")  # northwind specific 


@app.on_event("shutdown")
async def shutdown():
    app.db_connection.close()


@app.get("/")
async def root():
    cursor = app.db_connection.cursor()
    ....
    return ...
```

- Połączenie do bazy danych tworzymy i trzymamy kontekście aplikacji, zamykamy połączenie przy niszczeniu kontekstu wykorzystując wewnętrzny mechanizm sygnałów FastAPI.
- Kluczowe tutaj jest stworzenie jednego połączenia do bazy danych oraz zamknięcie go na koniec działania serwera.
- Mechanizm sygnałów FastAPI nie jest `thread safe` co powoduje że nie zagwarantuje nam otwarcia połączenia do bazy w jednym wątku i dostępu w tym samym.
    - Obejściem tego problemu jest przejście na asynchroniczne endpointy FastAPI. Wszystkie zapytania `asyncio` są obsługiwane w jednym wątku
    - Ciało funkcji nie musi korzystać z asynchronicznych metod i funkcji a co za tym idzie pisze się te funkcje identycznie jak asynchroniczne

## 4.3 Asynchroniczny Dostęp do bazy danych w aplikacji FastAPI

```python
import aiosqlite
from fastapi import FastAPI

app = FastAPI()


@app.on_event("startup")
async def startup():
    app.db_connection = await aiosqlite.connect("northwind.db")
    app.db_connection.text_factory = lambda b: b.decode(errors="ignore")  # northwind specific


@app.on_event("shutdown")
async def shutdown():
    await app.db_connection.close()


@app.get("/data")
async def root():
    cursor = await app.db_connection.execute("....")
    data = await cursor.fetchall()
    return {"data": data}
```

- Istniej gotowa biblioteka asynchroniczna dla SQLite `aiosqlite`
- `aiosqlite` ma identyczne api jak biblioteka standardowa `sqlite3`
- Kluczowa różnica jest taka że program w tym momencie nie czeka na odpowiedź z dysku twardego.
- Połączenie z bazą danych jest chyba najlepszym przykładem wykorzystania asyncio w praktyce

## 4.3 Dlaczego gołe `SQL`-ki?

- Znajomość SQL jest kluczowa w pracy programisty
- ORM nie zawsze jest w stanie obsłużyć skomplikowane przypadku
- Dobrze jest wiedzieć co się dzieje "pod spodem" ORMa
- Znajomość SQLa ułatwia debugowanie problemów związanych z bazami danych
- Dla szkolenia z debugowania aplikacji bazodanowych
- W realnym świecie logowanie do bazy danych i wykonywanie poleceń nie powinno mieć miejsca, niemniej jest to codzienna praktyka, chociażby dlatego należy znać podstawy SQLa i dlaczego niektóre zapytania są niebezpieczne.

# 5 Język SQL

## 5.1 SELECT

Pobieranie konkretnych pól z wybranej tabeli:
```sql
SELECT {lista_pól} FROM {nazwa_tabeli};
```

np.

```sql
SELECT ProductName, UnitPrice FROM Products;
```

Pobieranie wszystkich pól wiesza (kolumn) z wybranej tabeli:
```sql
SELECT * FROM {nazwa_tabeli};
```

np.

```sql
SELECT * FROM Products
```

### 5.1.1 Przykład SELECT

- Stworzyć widok listy nazw produktów `/products`.
- Endpoint powinien zwrócić listę nazw w postaci

```json
{
    "products": ["str", "str", "..."],
}
```

Wszystkie przykłady są zdeployowane tu: https://da-plu-2021-l4.herokuapp.com/

```python
@app.get("/products")
async def products():
    cursor = app.db_connection.cursor()
    products = cursor.execute("SELECT ProductName FROM Products").fetchall()
    return {
        "products": products,
    }
```

### 5.1.2 Pobieranie wyników zapytań

- __fetchall__ - zwraca listę wyników 
- __fetchone__ - zwraca jeden (następny) wynik, jeżeli nie znalazł wyniku zapytania zwraca `None`
- __fetchmany__(size=cursor.arraysize) - zwraca listę max `size` wyników, w przypadku braku wyników zwraca pustą listę
    - domyślnie `cursor.arraysize=1`

### 5.1.3 Typy w wyniku

- Domyślnie wiersz przedstawiony jest jako `tuple` wartości poszczególnych kolumn w kolejności o jaką pytamy np:
    - zapytanie `SELECT CompanyName, Phone FROM Shippers;`
    - zwróci listę tupli `[(CompanyName, Phone), ...]`

- Kolumny "zachowują" swój typ z bazy danych zgodnie z relacją: 
    - NULL -> None
    - INTEGER -> int
    - REAL -> float
    - TEXT -> str (domyślnie, zależy od `text_factory`)
    - BLOB -> bytes
    - https://docs.python.org/3/library/sqlite3.html#sqlite-and-python-types

- Wygodniejszy sposób przeglądania wyników możliwy jest wykorzystując nazwy kolumn w obiekcie słownika. Osiągnąć to można ustawiając na obiekcie połączenia do bazy danych lub kursora `row_factory`
    - ```python
db.row_factory = sqlite3.Row
```
        - Dzięki temu dostęp do pól następuje po nazwie `shipper[„CompanyName”]` zamiast `shipper[0]`

- Możliwe jest definiowanie własnych `row_factory`
    - np:
        ```python
        db.row_factory = lambda cursor, x: x[0]
        ```
        - `row_factory` to funkcja przyjmująca 2 wartości:
            - obiekt kursora
            - konkretny wiersz z bazy danych
    
    - dokumentacja: https://docs.python.org/3/library/sqlite3.html#sqlite3.Connection.row_factory

### 5.1.4 Skrót kursora

- Możliwością jest skorzystanie ze "skrótu", można uruchomić polecenie `execute` od razu na obiekcie połączenia `Connection`, bez tworzenia wprost obiektu `Cursor`
- Takie zapytanie tworzy obiekt `cursor` niejawnie

```python
@app.get("/products")
async def products():
    products = app.db_connection.execute("SELECT ProductName FROM Products").fetchall()
    return {
        "products": products,
        "products_counter": len(products)
    }
```

## 5.2 SELECT ... WHERE

Filtrowanie :
```sql
SELECT {lista_pól} FROM {nazwa_tabeli} WHERE {warunek};
```

np.

```sql
SELECT CompanyName, Address FROM Suppliers WHERE SupplierID = 1;
```

Więcej przykładów: http://www.sqlitetutorial.net/sqlite-where/

### 5.2.1 Przykład 2

- Stworzyć widok pojedynczego dostawcy o url `/suppliers/<supplier_id>`.
- Endpoint powinien zwrócić pola `compamny_name` oraz `address`

```json
{
    "CompanyName": "name", 
    "Address": "address"
}
```

```python
@app.get("/suppliers/{supplier_id}")
async def single_supplier(supplier_id: int):
    app.db_connection.row_factory = sqlite3.Row
    data = app.db_connection.execute(
        f"SELECT CompanyName, Address FROM Suppliers WHERE SupplierID = {supplier_id}").fetchone()

    return data
```

### 5.2.2 Wstawianie zmiennych do zapytania

```python
@app.get("/suppliers/{supplier_id}")
async def single_supplier(supplier_id: int):
    app.db_connection.row_factory = sqlite3.Row
    data = app.db_connection.execute(
        "SELECT CompanyName, Address FROM Suppliers WHERE SupplierID = ?", (supplier_id, )).fetchone()

    return data
```

```python
@app.get("/suppliers/{supplier_id}")
async def single_supplier(supplier_id: int):
    app.db_connection.row_factory = sqlite3.Row
    data = app.db_connection.execute(
        "SELECT CompanyName, Address FROM Suppliers WHERE SupplierID = :supplier_id",
        {'supplier_id': supplier_id}).fetchone()

    return data
```

- `?` placeholder "pozycyjny" - pod kolejne znaki zapytania podstawiane są kolejne wartości z tupli
- `:nazwa` to "keyword" placeholder, jako drugi argument to `execute` przekazujemy słownik; dane są podstawiane na podstawie kluczy ze słownika

## 5.3 JOIN

Łączenie tabel ze sobą :
```sql
SELECT {lista_pól} FROM {nazwa_tabeli}
JOIN {nazwa_innej_tabeli} ON {warunek_joina}
(opcjonalnie) WHERE {warunek};
```

np.

```sql
SELECT Employees.LastName, Employees.FirstName, Territories.TerritoryDescription 
FROM Employees JOIN EmployeeTerritories ON Employees.EmployeeID = EmployeeTerritories.EmployeeID
JOIN Territories ON EmployeeTerritories.TerritoryID = Territories.TerritoryID;
```

- Istnieją różne typy JOINów:
    - `LEFT JOIN`
    - `RIGHT JOIN`
    - `INNER JOIN`
    - `CROSS JOIN`
    - `FULL JOIN`
    - `INNER LEFT JOIN`
    - `INNER RIGHT JOIN`
    - `NATURAL JOIN`
    - ....
- Dobre przykłady: https://www.w3schools.com/sql/sql_join.asp
- Świetne objaśnienia: https://blog.codinghorror.com/a-visual-explanation-of-sql-joins/
- Będziemy się zajmować najczęstszym przypadkiem po prostu `JOIN` domyślnie `INNER JOIN`

### 5.3.1 Przykład 3

- Dodaj widok listy Pracowników rozszerzony o region z którego pochodzą - `/employee_with_region`.
- Docelowy format odpowiedzi
```json
[
    {
        "employee": "first_name last_name", 
        "region": "employee region"
    },
    {
        "employee": "first_name last_name", 
        "region": "employee region"
    }
    ...
]
```

```python
@app.get("/employee_with_region")
async def employee_with_region():
    app.db_connection.row_factory = sqlite3.Row
    data = app.db_connection.execute('''
        SELECT Employees.LastName, Employees.FirstName, Territories.TerritoryDescription 
        FROM Employees JOIN EmployeeTerritories ON Employees.EmployeeID = EmployeeTerritories.EmployeeID
        JOIN Territories ON EmployeeTerritories.TerritoryID = Territories.TerritoryID;
     ''').fetchall()
    return [{"employee": f"{x['FirstName']} {x['LastName']}", "region": x["TerritoryDescription"]} for x in data]
```

## 5.4 LIMIT, OFFSET, ORDER BY

Pobranie rekordów w określonej kolejności
```sql
SELECT {lista_pól} FROM {nazwa_tabeli} ORDER BY {nazwa_pola};
```

Np.

```sql
SELECT * FROM employees ORDER BY lastname;
```

Pobranie ograniczonej liczby rekordów
```sql
SELECT {lista_pól} FROM {nazwa_tabeli} LIMIT {liczba_rekordów};
```

Np.
```sql
SELECT * FROM Customers LIMIT 10;
```

Pobranie ograniczonej liczby rekordów z pominięciem pierwszych
```sql
SELECT {lista_pól} FROM {nazwa_tabeli} LIMIT {liczba_rekordów} OFFSET {liczba_pominiętych_rekordów};
```

Np.
```sql
SELECT * FROM Customers LIMIT 10 OFFSET 20;
```

Warto doczytać:
- http://www.sqlitetutorial.net/sqlite-limit/

### 5.4.1 Przykład 4

- Dodaj widok listy Pracowników rozszerzony o region z jakiego pracownik pochodzi - `/employee_with_region_order` posortowaną po nazwisku pracownika
- Docelowy format odpowiedzi taki sam jak w przykładzie nr 3:
```json
[
    {
        "employee": "first_name last_name", 
        "region": "region"
    },
    {
        "employee": "first_name last_name", 
        "region": "region"
    }
    ...
]
```

```python
@app.get("/employee_with_region_order")
async def employee_with_region():
    app.db_connection.row_factory = sqlite3.Row
    data = app.db_connection.execute('''
        SELECT Employees.LastName, Employees.FirstName, Territories.TerritoryDescription 
        FROM Employees JOIN EmployeeTerritories ON Employees.EmployeeID = EmployeeTerritories.EmployeeID
        JOIN Territories ON EmployeeTerritories.TerritoryID = Territories.TerritoryID
        ORDER BY Employees.LastName;
     ''').fetchall()
    return [{"employee": f"{x['FirstName']} {x['LastName']}", "region": x["TerritoryDescription"]} for x in data]
```

## 5.5 INSERT

### 5.5.1  Przykład 5

Dodanie pełnego wiersza do tabeli:
```sql
INSERT INTO {nazwa_tabeli} VALUES ('{wartość_pola}', '{wartość_pola}', [...]); 
```

Dodanie wiersza do tabeli dla konkretnych pól:
```sql
INSERT INTO {nazwa_tabeli} ({nazwa_pola},{nazwa_pola},[...]) VALUES ('{wartość_pola}', '{wartość_pola}', [...]); 
```

np:
```sql
INSERT INTO Customers VALUES ('XYRND', 'Blauer See Delikatessen','Hanna Moos','Sales Representative','Forsterstr. 57','Mannheim','','68306','Germany','0621-08460','0621-08924');
```

- Stwórz widok dodawania nowego klienta `/customers/add` oraz widok listy klientów `/customers`.
- Docelowe formaty komunikacji
    - `/customers/add`
        - zapytania:
        ```json
        {
            "compamny_name": "compamny_name"
        }
        ```
        - odpowiedzi
        ```json
        {
            "compamny_id": new_id, 
            "compamny_name": "compamny_name"
        }
        ```
    - `/customers`
        - odpowiedzi
        ```json
        [
            "compamny_name", "compamny_name", "compamny_name",  ...
        ]
        ```

```python
@app.get("/customers")
async def customers():
    app.db_connection.row_factory = lambda cursor, x: x[0]
    artists = app.db_connection.execute("SELECT CompanyName FROM Customers").fetchall()
    return artists
```

```python
from pydantic import BaseModel


class Customer(BaseModel):
    company_name: str
```

```python
@app.post("/customers/add")
async def customers_add(customer: Customer):
    cursor = app.db_connection.execute(
        f"INSERT INTO Customers (CompanyName) VALUES ('{customer.company_name}')"
    )
    app.db_connection.commit()
    return {
        "CustomerID": cursor.lastrowid,
        "CompanyName": customer.company_name
    }
```

### 5.5.2 Co z tym kodem jest nie tak?

```md
SQL Injection
```

![xkcd SQL Injection comic](https://imgs.xkcd.com/comics/exploits_of_a_mom.png )

Źródło: https://imgs.xkcd.com/comics/exploits_of_a_mom.png

https://xkcd.com/327/

### 5.5.3 Poprawna wykonanie `inserta`

```python
@app.post("/customers/add")
async def artists_add(customer: Customer):
    cursor = app.db_connection.execute(
        "INSERT INTO Customers (CompanyName) VALUES {?}", (customer.company_name, )
    )
    app.db_connection.commit()
    new_customer_id = cursor.lastrowid
    app.db_connection.row_factory = sqlite3.Row
    customer = app.db_connection.execute(
        """SELECT CustomerID AS customer_id, CompanyName AS company_name
         FROM Customers WHERE CustomerID = ?""",
        (new_customer_id, )).fetchone()
    
    return customer
```

## 5.6 UPDATE

Aktualizacja wszystkich wierszy z tabeli
```sql
UPDATE {nazwa_tabeli} SET {nazwa_pola} = {wartość_pola}; 
```

Aktualizacja wybranych wierszy
```sql
UPDATE {nazwa_tabeli} SET {nazwa_pola} = {wartość_pola} WHERE {warunek}
```

np:
```sql
UPDATE Shippers SET CompanyName = UPPER(name)
```

### 5.6.1 Przykład 6

- Stwórz widok edycji spedytora `/shippers/edit/{shipper_id}`
- Docelowe formaty komunikacji
    - `/shippers/edit/{shipper_id}`
        - zapytania:
        ```json
        {
            "name": "shipper_name"
        }
        ```
        - odpowiedzi
        ```json
        {
            "shipper_id": new_id, 
            "shipper_name": "shipper_name"
        }
        ```

```python
class Shipper(BaseModel):
    company_name: str
```

```python
@app.patch("/shippers/edit/{shipper_id}")
async def artists_add(shipper_id: int, shipper: Shipper):
    cursor = app.db_connection.execute(
        "UPDATE Shippers SET CompanyName = ? WHERE ShipperID = ?", (
            shipper.company_name, shipper_id)
    )
    app.db_connection.commit()

    app.db_connection.row_factory = sqlite3.Row
    data = app.db_connection.execute(
        """SELECT ShipperID AS shipper_id, CompanyName AS company_name
         FROM Shippers WHERE ShipperID = ?""",
        (shipper_id, )).fetchone()

    return data
```

## 5.7 DELETE

Usunięcie wszystkich wierszy z tabeli
```sql
DELETE FROM {nazwa_tabeli};
```

Usunięcie wybranych wierszy
```sql
DELETE FROM {nazwa_tabeli} WHERE {warunek};
```

### 5.7.1 Przykład 7

- Dodaj możliwość usunięcia wybranego zamówienia `/orders/delete/{order_id}`
- Odpowiedź podaj w formacie:
```json
{
    "deleted": int # ilość usuniętych wierszy z bazy danych
}
```

```python
@app.get("/orders")
async def orders():
    app.db_connection.row_factory = sqlite3.Row
    orders = app.db_connection.execute("SELECT * FROM Orders").fetchall()
    return {
        "orders_counter": len(orders),
        "orders": orders,
    }
```

```python
@app.delete("/orders/delete/{order_id}")
async def order_delete(order_id: int):
    cursor = app.db_connection.execute(
        "DELETE FROM Orders WHERE OrderID = ?", (order_id, )
    )
    app.db_connection.commit()
    return {"deleted": cursor.rowcount}
```

## 5.8 Funkcje agregujące

- MIN
- MAX
- SUM
- AVG
- COUNT
- COUNT(*)

Wykonanie funkcji agregującej dla wybranej kolumny
```sql
SELECT {funkcja_agregująca}( {kolumna} ) FROM {tabela};
```

Np: najtańszy produkt tabeli `Products`
```sql
SELECT MIN(UnitPrice) FROM Products;
```

Zliczenie wszystkich wierszy w tabeli
```sql
SELECT COUNT(*) FROM {tabela};
```

Np.
```sql
SELECT COUNT(*) FROM Customers;
```

### 5.8.1 Przykład 8

- Dodaj widok listy regionów wraz z ich licznikiem wg formatu:
- Endpoint powinien zwrócić listę regionów oraz ich ilość w postaci

```json
{
    "region": [str, str, ...],
    "region_counter": int
}
```

```python
@app.get("/region_count")
async def root():
    app.db_connection.row_factory = lambda cursor, x: x[0]
    regions = app.db_connection.execute("SELECT RegionDescription FROM Regions ORDER BY RegionDescription DESC").fetchall()
    count = app.db_connection.execute('SELECT COUNT(*) FROM Regions').fetchone()

    return {
        "regions": regions,
        "regions_counter": count
    }
```

### 5.8.2 Porównanie wydajności funkcji SQL z obliczeniami w Pythonie na przykładzie AVG

In [2]:
import timeit

In [3]:
ab_avg = timeit.timeit(
    "c.execute('SELECT AVG(UnitPrice) FROM Products').fetchone()",
    setup="import sqlite3;conn = sqlite3.connect('northwind.db');c = conn.cursor();",
    number=1000
)

In [4]:
python_avg = timeit.timeit(
    "result = c.execute('SELECT UnitPrice FROM Products').fetchall(); l = [r[0] for r in result]; sum(l) / len(l)",
    setup="import sqlite3;conn = sqlite3.connect('northwind.db');c = conn.cursor();",
    number=1000
)

In [5]:
# Wynik:
print(f"{ab_avg=}")
print(f"{python_avg=}")
print(f"różnica: ~{int(python_avg/ab_avg)}x szyciej")

ab_avg=0.014312217999759014
python_avg=0.05563114399956248
różnica: ~3x szyciej

## 5.9 CREATE TABLE

Tworzenie tabeli
```sql
CREATE TABLE {nazwa_tabeli} ({lista_pól});
```

- Przykład: 

```sql
CREATE TABLE actor (
  actor_id INTEGER NOT NULL PRIMARY KEY ,
  first_name TEXT,
  last_name TEXT,
  last_update INTEGER,
  social_security_no INTEGER
);
```

- Możemy użyć wszystkich constraintów w trakcie deklaracji tabeli
    - NOT NULL Constraint
    - DEFAULT Constraint
    - UNIQUE Constraint
    - PRIMARY Key
    - CHECK Constraint

- Przykład: 

```sql
CREATE TABLE actor (
  actor_id INTEGER NOT NULL PRIMARY KEY ,
  first_name TEXT NOT NULL,
  last_name TEXT NOT NULL DEFAULT "KOWALSKI",
  last_update INTEGER NOT NULL,
  social_security_no INTEGER UNIQUE CHECK(social_security_no > 10000000)
);
```

https://www.sqlite.org/lang_createtable.html

## 5.10 CREATE INDEX

Tworzenie indeksu
```sql
CREATE INDEX {nazwa_indeksu} ON {nazwa_tabeli}({nazwa_pola});
```

Przykłady:

```sql
CREATE INDEX idx_Customers_contact_name ON Customers(ContactName);
```

```sql
CREATE UNIQUE INDEX idx_customers_details ON Customers(CompanyName, ContactName);
```

https://www.sqlite.org/lang_createindex.html

## 5.11 ALTER TABLE

Wprowadzenie zmian w istniejącej tabeli. Np. dodawanie nowej kolumny.

Zmiana kolumn w tabeli
```sql
ALTER TABLE {nazwa_tabeli} {zmiana};
```

Przykłady:

```sql
ALTER TABLE actor ADD COLUMN hair_color TEXT;
```

https://www.sqlite.org/lang_altertable.html

## 5.12 DROP TABLE

Usunięcie tabeli

```sql
DROP TABLE {nazwa_tabeli};
```

np.
```sql
DROP TABLE actor;
```

https://www.sqlite.org/lang_droptable.html

# 6 Deploy na Heroku

- __SQLite__ na __Heroku__? Nie jest to najlepszy pomysł https://devcenter.heroku.com/articles/sqlite3
- Wystarczy wypchnąć dodatkowo plik z bazą danych na Heroku
- Problem: Wprowadzane w nim zmiany będą wymazywane, przynajmniej raz na 24h - po każdym deployu, restarcie i co około 24h z powodu tego , jak Heroku zarządza swoimi `dynos`
- Co z tym robimy? Na tych zajęciach nic
- Dobre rozwiązanie? Korzystanie z __Heroku Postgres__ https://elements.heroku.com/addons/heroku-postgresql zamiast z __sqlite__ ale to już na kolejnych zajęciach

# 8 EXTRA

## 8.1 Sakila - Inna baz danych stworzona do testowania

- Przykładowa baza danych stworzona przez zespół odpowiedzialny za MySQL, jest dużo większa od northwind
    - https://dev.mysql.com/doc/sakila/en/sakila-introduction.html
- Pobieramy:
    - https://github.com/jOOQ/jOOQ/raw/master/jOOQ-examples/Sakila/sqlite-sakila-db/sqlite-sakila-schema.sql
    - https://github.com/jOOQ/jOOQ/raw/master/jOOQ-examples/Sakila/sqlite-sakila-db/sqlite-sakila-insert-data.sql

- Następnie wykonujemy:

```python
import sqlite3

conn = sqlite3.connect('/path/to/database.db')
c = conn.cursor()

with open('sqlite-sakila-schema.sql', 'r', encoding='utf-8') as create_file:
    create_query = create_file.read()
with open('sqlite-sakila-insert-data.sql', 'r', encoding='utf-8') as insert_file:
    insert_query = insert_file.read()

c.executescript(create_query)
c.executescript(insert_query)

conn.commit()
conn.close()
```

## 8.2 Tips & Tricks

- Skrypt z insertami wolno działa? http://www.sqlite.org/faq.html#q19
- Rozwiązanie: http://www.sqlite.org/lang_transaction.html
    - bez BEGIN TRANSACTION; .. COMMIT; - 2h10min
    - z BEGIN TRANSACTION; .. COMMIT; - kilkanaście sekund

## 8.3 Tutoriale

- Interaktywny webowy tutorial SQL: https://sqlbolt.com/